@charset "UTF-8";

$BG: #e4ebf5;
$blue: #4aacee;
$bluefocus: #6bbbf1;
$blue3: #cdd7e6;
$blue2: #EAF7FF;
$blue4: #9FB3FF;
$orage: #f48e35;
$orage2: #fc5e3f;
$orage3: #fc641a;
$orage4: #FF9D00;
$orage5: #FF6300;
$green: #D3EDDA;
$green2: #4ec22e;
$green3: #5DB000;
$badgeorage: #ff724b;
$cthead: #788dae;
$ctheadborder: #f0f8fe;

$white: #FFFFFF;
$white1: #f2f2f2;
$white2: #f1f1f1;
$white3: #f8f9ff;
$white4: #D7D7D7;
$white5: #EFF0F3;

$black: #000000;
$black1: #333333;
$black2: #666666;
$black3: #888888;
$black4: #999999;
$black5: #d6d6d6;
$black6: #aaaaaa;
$black7: #e1e1e1;
$black8: #f9f8f8;
$black9: #fafafa;
$black10: #eeeeee;
$black11: #858f9e;
$black12: #cccccc;
$black13: #4B4B4B;

$fontSize10: 10px;
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize24: 24px;
$fontSize30: 30px;
$fontSize32: 32px;

$positionRe: relative;
$positionAb: absolute;
$displayBlock: inline-block;
$displayNone: none;

